; ============================================================
; =============      stripper by GuiSAE       ================
; ============= [dc3m4_bridge] [m4/6] [arrival] ==============
; ============================================================

; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
filter:
; --- （固定AI Tank事件）
{
	"hammerid" "8696895"
}
{
	"hammerid" "8696893"
}
{
	"hammerid" "8696879"
}

modify:
; --- 因不知名原因整张不刷药，故而取消尸潮事件
{
	match:
	{
		"targetname" "bridge_gate1_relay"
	}
	delete:
	{
		"OnTrigger" "directorForcePanicEvent01"
	}
}
{
	match:
	{
		"targetname" "bridge_director_relay"
	}
	delete:
	{
		"OnTrigger" "directorPanicEvent01"
	}
}
{
	match:
	{
		"targetname" "bridge_door_1"
	}
	delete:
	{
		"OnOpen" "relay_street_survivalTrigger0-1"
		"OnFullyOpen" "relay_street_hordeTrigger2.2-1"
	}
}


filter:
{
	"targetname" "relay_street_horde"
}
{
	"targetname" "relay_street_survival"
}
{
	"targetname" "timer_street_horde"
}

; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================

filter:
; --- 删除刷新一起的4把马格南
{
	"hammerid" "8219973"
}
{
	"hammerid" "8219969"
}
{
	"hammerid" "8219971"
}
; --- 删除不固定刷新的枪械及子弹堆
{
	"targetname" "weapon_spawn1"
}
{
	"targetname" "weapon_spawn2"
}
{
	"targetname" "weapon_spawn3"
}
{
	"targetname" "weapon_spawn4"
}
{
	"hammerid" "9075301"
}
{
	"hammerid" "4122307"
}

add:
; --- 将全场的药物固定在货车里以及添加两把随机枪械
{
	"classname" "weapon_spawn"
    "origin" "410 7331 332"
    "spawnflags" "2"
    "solid" "6"
	"weapon_selection" "tier1_shotgun"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 258.5 90"
	"spawn_without_director" "1"
}
{
	"classname" "weapon_spawn"
    "origin" "432 7330 332"
    "spawnflags" "2"
    "solid" "6"
	"weapon_selection" "tier1_SMG"
    "disableshadows" "1"
    "count" "5"
    "angles" "0 258.5 90"
	"spawn_without_director" "1"
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================

add:
{
	"origin" "220 4908 296"
	"angles" "0 108 0"
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"count" "1"
}

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================

modify:
; --- 删除场上绝大多数可以击打的车以及警报车
; --- 警报车
{
	match:
	{
		"targetname" "caralarm_car1"
	}
	replace:
	{
		"classname"	"prop_dynamic"
		"spawnflags" "0"
	}
	insert:
	{
		"solid" "6"
		"disableshadows" "0"
	}
	delete:
	{
		"OnCarAlarmStart" "alarmtimer1Enable0-1"
		"OnCarAlarmEnd" "alarmtimer1Disable0-1"
		"OnCarAlarmStart" "caralarm1PlaySound0-1"
		"OnCarAlarmEnd" "caralarm1StopSound0-1"
		"OnCarAlarmChirpStart" "carchirp1PlaySound0.2-1"
		"OnCarAlarmChirpEnd" "caralarm_light1HideSprite0.7-1"
		"OnCarAlarmChirpStart" "caralarm_light1ShowSprite0.2-1"
	}
}
; --- 铁
{
	match:
	{
		"targetname" "car1"
	}
	replace:
	{
		"classname"	"prop_dynamic"
	}
	insert:
	{
		"solid" "6"
		"spawnflags" "0"
		"disableshadows" "0"
	}
}
{
	match:
	{
		"targetname" "car6"
	}
	replace:
	{
		"classname"	"prop_dynamic"
	}
	insert:
	{
		"solid" "6"
		"spawnflags" "0"
		"disableshadows" "0"
	}
}
{
	match:
	{
		"targetname" "InstanceAuto14-car_physics"
	}
	replace:
	{
		"classname"	"prop_dynamic"
	}
	insert:
	{
		"solid" "6"
		"spawnflags" "0"
		"disableshadows" "0"
	}
}

; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================

filter:
; --- Delete the health kit（删除医疗包）
{
	"classname" "weapon_first_aid_kit_spawn"
}
; --- 删除爆炸油桶
{
	"model" "models/props_c17/oildrum001_explosive.mdl"
}

; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================

; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================

add:
; --- 使用铁丝网封住安全屋的窗户
{
	"solid" "6"
	"origin" "1173 -4048 138"
	"angles" "0 90 0"
	"model"	 "models/props_urban/fence001_256.mdl"
	"classname"	"prop_dynamic"
}

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================

filter:
; --- 飞机轰鸣及爆炸声
{
	"targetname" "jet_flyby_timer"
}
{
	"targetname" "jet_anim_01"
}
{
	"targetname" "jet_anim_01b"
}
{
	"targetname" "sound_f18_01"
}
{
	"targetname" "sound_f18_distantrumble_A_01_L"
}
{
	"targetname" "sound_f18_distantrumble_A_02_L"
}
{
	"targetname" "sound_f18_distantrumble_A_03_L"
}
{
	"targetname" "sound_f18flyby_A_01_L"
}
{
	"targetname" "sound_f18flyby_A_02_L"
}
{
	"targetname" "sound_f18flyby_A_03_L"
}
{
	"targetname" "sound_f18flyby_A_04_L"
}
{
	"targetname" "sound_f18_distantrumble_A_01_R"
}
{
	"targetname" "sound_f18_distantrumble_A_02_R"
}
{
	"targetname" "sound_f18_distantrumble_A_03_R"
}
{
	"targetname" "sound_f18flyby_A_01_R"
}
{
	"targetname" "sound_f18flyby_A_02_R"
}
{
	"targetname" "sound_f18flyby_A_03_R"
}
{
	"targetname" "sound_f18flyby_A_04_R"
}
{
	"targetname" "f18_skybox_bridge_1"
}
{
	"targetname" "f18_skybox_bridge_2"
}
{
	"targetname" "f18_sb_01"
}
{
	"targetname" "f18_sb_02"


; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================

add:
{
    "model" "*96"
    "normal.z" "1.00"
    "normal.y" "0.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "822.00 -8366.00 -371.00"
    "angles" "0.00 180.00 0.00"
}
{
    "model" "*52"
    "normal.z" "1.00"
    "normal.y" "0.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "1063.00 462.00 -9.00"
    "angles" "0.00 270.00 0.00"
}
{
    "model" "*52"
    "normal.z" "1.00"
    "normal.y" "0.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "1317.00 414.00 -20.00"
    "angles" "0.00 270.00 0.00"
}
{
    "model" "*52"
    "normal.z" "1.00"
    "normal.y" "0.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "1317.00 713.00 -20.00"
    "angles" "0.00 270.00 0.00"
}
{
    "model" "*52"
    "normal.z" "1.00"
    "normal.y" "0.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "1317.00 1027.00 -20.00"
    "angles" "0.00 270.00 0.00"
}
{
    "model" "*157"
    "normal.z" "1.00"
    "normal.y" "0.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "8547.00 10865.00 10.00"
    "angles" "0.00 90.00 0.00"
}
{
    "model" "*157"
    "normal.z" "1.00"
    "normal.y" "0.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-322.99 2664.00 10.00"
    "angles" "0.00 360.00 0.00"
}
{
    "model" "*27"
    "normal.z" "1.00"
    "normal.y" "0.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-98.00 1929.00 241.00"
    "angles" "0.00 0.00 0.00"
}
{
    "model" "*157"
    "normal.z" "1.00"
    "normal.y" "0.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-8350.00 10781.00 -85.00"
    "angles" "0.00 630.00 0.00"
}
{
    "model" "*157"
    "normal.z" "1.00"
    "normal.y" "0.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-7751.00 10781.00 -85.00"
    "angles" "0.00 630.00 0.00"
}


; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                   BLANK HEADER                  ==
; ==                Blank description                ==
; =====================================================