; ============================================================
; =============      stripper by GuiSAE       ================
; ================ [zc_m4] [m4/5] [广州增城] =================
; ============================================================

; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
filter:
; --- Removed the Zombie Trap in front of the end safehouse（删除终点安全屋前面的尸潮机关）
{
	"hammerid" "11655185"
}
{
	"hammerid" "11635831"
}
{
	"hammerid" "11635853"
}

add:
{
	"classname" "prop_physics"
	"angles" "0 49.5 51"
	"damagefilter" "act_gas"
	"model" "models/props_junk/gascan001a.mdl"
	"skin" "1"
	"spawnflags" "265"
	"targetname" "gas_py1"
	"origin" "-9045.37 1853.95 -22.7307"
}
{
	"classname" "prop_physics"
	"angles" "0 0 51"
	"damagefilter" "act_gas"
	"model" "models/props_junk/gascan001a.mdl"
	"skin" "1"
	"spawnflags" "265"
	"targetname" "gas_py2"
	"origin" "-8987.44 1874.95 -21.7307"
}
{
	"classname" "prop_physics"
	"angles" "0 319.5 51"
	"damagefilter" "act_gas"
	"model" "models/props_junk/gascan001a.mdl"
	"skin" "1"
	"spawnflags" "265"
	"targetname" "gas_py3"
	"origin" "-8900.16 1867.74 -23.7307"
}

filter:
{
	"targetname" "timedb"
}
{
	"targetname" "gas_bt1"
}
{
	"targetname" "fence_1"
}
{
	"targetname" "muzhang23"
}
{
	"targetname" "brerak gascan"
}
{
	"targetname" "gas_clip_vphysics2"
}
{
	"targetname" "barricade_hurt"
}
{
	"targetname" "muzhangnav"
}
{
	"targetname" "barricade_fire"
}
{
	"targetname" "gas_dybt1"
}
{
	"targetname" "gas_dybt2"
}
{
	"targetname" "gas_dybt3"
}
{
	"targetname" "gas_dy1"
}
{
	"targetname" "gas_dy2"
}
{
	"targetname" "gas_dy3"
}

; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
modify:
; --- Removed random pills and adrenaline points near the path（移除了路径附近的随机药丸点）
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item11" "0"
	}
}

filter:
; --- Remove too many pill refresh points in the same place（删除同一个地方过多的药丸刷新点）
{
	"targetname" "coopweps"
}

add:
; --- Added pill refresh points（添加药的刷新点）
; --- On the table next to the window in the second aisle（第二个过道窗户旁的桌子上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "3346 -5903 65"
	"angles" "0 0 0"
}
; --- On the white table behind the second aisle（第二个过道后的白色桌子上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "2478 -5089 101"
	"angles" "0 0 0"
}
; --- Next to the firearm behind the second aisle（第二个过道后的枪械旁边）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "1351.18 -7495.06 60.2491"
	"angles" "0 0 0"
}
; --- Unknown little corner（不知名小角落（其实是不知道怎么形容））
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-152.424 -6488.88 24.2491"
	"angles" "0 0 0"
}
; --- On the table in the cabin（小木屋的桌子上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-510 -5581 65"
	"angles" "0 0 0"
}
; --- On the steps behind the cabin（小木屋后面的台阶上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-1195.14 -5010.06 72.2491"
	"angles" "0 0 0"
}
; --- On the table inside the massage parlor（按摩（烧鸡）店里面的桌子上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-2733.53 -4543 87"
	"angles" "0 0 0"
}
; --- Small staircase on the chest（小楼梯的箱子上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-3561 -5238 -119"
	"angles" "0 0 0"
}
; --- The corner of the second floor of the grand staircase（大楼梯二楼角落）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-856.77 -6778.82 256.249"
	"angles" "0 0 0"
}
; --- benches（长椅上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-714 -8076 408"
	"angles" "0 0 0"
}
; --- In a small room at the end of the alley（巷子尽头的小房间里）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-1972.86 -9318 62"
	"angles" "0 0 0"
}
; --- Alley exit（巷子出口）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-3024.88 -8927.51 88.2491"
	"angles" "0 0 0"
}
; --- In the first ambulance（第一个救护车里）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-8428 -12068 -99"
	"angles" "0 0 0"
}
; --- On the table in the small room in front of the end safe house（终点安全屋前小房间的桌子上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-7629.21 -5264.03 -75.7509"
	"angles" "0 0 0"
}
; --- On the table of the path（小道路的桌子上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-8869.04 -9613 -87"
	"angles" "0 0 0"
}

filter:
; --- Remove guns that are too cluttered（删除过于杂乱无章的枪械）
{
	"hammerid" "8771343"
}
{
	"hammerid" "14749124"
}
{
	"hammerid" "8771341"
}
{
	"hammerid" "13263946"
}
{
	"hammerid" "8771345"
}
; --- Remove the vibrator（删除震动棒）
{
	"melee_weapon" "meleejb"
}
; --- （删除过多的车）
; --- che2
{
	"hammerid" "2084780"
}
{
	"hammerid" "2084776"
}
; --- che4
{
	"hammerid" "2080814"
}
{
	"hammerid" "2080810"
}
; --- che5
{
	"hammerid" "2081378"
}
{
	"hammerid" "2081374"
}
; --- che6
{
	"hammerid" "2080805"
}
{
	"hammerid" "2080801"
}
; --- che8
{
	"hammerid" "2079526"
}
{
	"hammerid" "2079530"
}
; --- che18
{
	"hammerid" "2081603"
}
{
	"hammerid" "2081599"
}
; --- tie
{
	"hammerid" "2085068"
}
{
	"hammerid" "2085076"
}
{
	"hammerid" "2085072"
}
; --- Remove inexplicable roadblocks（删除莫名其妙的路障）
{
	"hammerid" "2084892"
}
{
	"hammerid" "2084888"
}
{
	"hammerid" "2084884"
}

add:
; --- The starting point safehouse spawns two guns（起点安全屋生成两把枪械）
{
	"classname" "weapon_smg_silenced"
	"origin" "8480 -1884 83.4491"
	"angles" "0 60 90"
	"ammo" "650"
	"spawnflags" "1"
}
{
	"classname" "weapon_shotgun_chrome"
	"origin" "8479 -1845 83.7299"
	"angles" "0 60 90"
	"ammo" "72"
	"spawnflags" "1"
}

modify:
; --- Move the gun position（移动枪械位置）
{
	match:
	{
		"hammerid" "8868958"
	}
	replace:
	{
		"angles" "0 164 -90"
		"origin" "8536 -3173 1.55842"
	}
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Next to the window of the second small aisle（第二个小过道窗户旁边）
{
	"origin" "3398.74 -5877.29 33.165"
	"angles" "0 317 0"
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"count" "1"
}
; --- On the steps behind the cabin（小木屋过后的台阶上）
{
	"origin" "-1168 -5008.58 73.165"
	"angles" "0 317 0"
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"count" "1"
}
; --- Grand staircase on the second floor（大楼梯二楼）
{
	"origin" "-664.616 -7578.85 45.165"
	"angles" "0 317 0"
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"count" "1"
}
; --- Alley exit（巷子出口）
{
	"origin" "-2997 -8919.69 89.165"
	"angles" "0 317 0"
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"count" "1"
}
; --- Inside the first ambulance（第一辆救护车里面）
{
	"origin" "-8456 -12052 -97"
	"angles" "0 317 0"
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"count" "1"
}
; --- Next to the second ambulance（第二辆救护车旁边）
{
	"origin" "-8797.89 -8107.44 -120.097"
	"angles" "0 317 0"
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"count" "1"
}

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================
filter:
; --- Remove the barricade box in front of the starting point safehouse（删除起点安全屋前的路障箱子）
{
	"hammerid" "5171725"
}
{
	"hammerid" "5171762"
}
{
	"hammerid" "5171709"
}
{
	"hammerid" "5390752"
}
{
	"hammerid" "5171685"
}
{
	"hammerid" "5171577"
}
{
	"hammerid" "5171693"
}
{
	"hammerid" "5171661"
}
{
	"hammerid" "5390760"
}
{
	"hammerid" "5390748"
}
{
	"hammerid" "5390768"
}
{
	"hammerid" "5390756"
}

; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
filter:
; --- Delete the health kit（删除医疗包）
{
	"classname" "weapon_first_aid_kit_spawn"
}

; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================
filter:
; --- Delete the music broadcast from trash cans and pancake trucks（删除垃圾桶与煎饼车的音乐）
{
	"targetname" "yuel"
}

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================


; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
add:
; --- Add crawl marks to the obstacle next to the pancake cart（在煎饼车旁边的障碍处添加爬行痕迹）
{
    "model" "*43"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-8632.48 -3362.48 -14.00"
    "angles" "0.00 90.00 0.00"
}
{
    "model" "*43"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "3603.48 -7601.48 -23.00"
    "angles" "0.00 270.00 0.00"
}

; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                   BLANK HEADER                  ==
; ==                Blank description                ==
; =====================================================