; ============================================================
; =============      stripper by GuiSAE       ================
; ================ [zc_m3] [m3/5] [广州增城] =================
; ============================================================

; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
filter:
; --- Removed the Zombie Tide event and random AI special infected at the first trap（删除第一个机关处的尸潮事件与随机AI特殊感染者）
{
	"hammerid" "7207596"
}
{
	"hammerid" "7997070"
}
{
	"targetname" "handonluzhang"
}
{
	"targetname" "handonluzhang2"
}
{
	"targetname" "handonluzhang3"
}
{
	"targetname" "handongbrush"
}
{
	"hammerid" "7958833"
}
{
	"hammerid" "7958805"
}
{
	"hammerid" "1260924"
}
{
	"hammerid" "8015607"
}
{
	"hammerid" "7977560"
}
{
	"hammerid" "9202671"
}
{
	"hammerid" "7245334"
}
{
	"hammerid" "7977967"
}
{
	"hammerid" "7977774"
}
{
	"hammerid" "7207596"
}

; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
modify:
; --- Removed random pills and adrenaline points near the path（移除了路径附近的随机药丸点）
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item11" "0"
	}
}

add:
; --- Added pill refresh points（添加药的刷新点）
; --- Next to the distribution box at the exit of the first alley（第一个巷子出口配电箱旁）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-9010.4 4213.79 -191.751"
	"angles" "0 0 0"
}
; --- Utility room corner next to the van（面包车旁的杂物间角落）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-7616.93 3727.19 -175.751"
	"angles" "0 0 0"
}
; --- On the wagon in front of the large warehouse（大仓库前的货车上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-3295 4279 -149"
	"angles" "0 0 0"
}
; --- On a table in the middle of the large warehouse（大仓库中间的桌子上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-2538 1970 -151"
	"angles" "0 0 0"
}
; --- On the table in the small garden（小花园的桌子上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-3429 118.966 -155"
	"angles" "0 0 0"
}
; --- On the truck in front of the first organ（第一个机关前的货车上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-2142 -1434 -133"
	"angles" "0 0 0"
}
; --- On the table in the room at the end of the tunnel（隧道尽头的房间桌子上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "1719.17 -1515 -154"
	"angles" "0 0 0"
}
; --- The corner of the room at the end of the tunnel（隧道尽头房间的角落）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "2357.03 -1676.66 -191.751"
	"angles" "0 0 0"
}
; --- On the shelves of the barber shop at the mouth of the tunnel（隧道口理发店的货架上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "5855 -1399 -137"
	"angles" "0 0 0"
}
; --- Next to the second organ（第二个机关旁）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "9992.76 -1484.71 -191.751"
	"angles" "0 0 0"
}
; --- End at the barbershop table in front of the safe house（终点安全屋前的理发店桌子上）
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "12222.9 2298.72 -136.709"
	"angles" "0 0 0"
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- The corner of the first alley（第一个巷子拐角处）
{
	"origin" "-10333.2 3806.76 -190.835"
	"angles" "0 180 0"
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"count" "1"
}
; --- Next to the distribution box at the exit of the alley（巷子出口的配电箱旁）
{
	"origin" "-9061.95 4219.67 -190.835"
	"angles" "0 90 0"
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"count" "1"
}
; --- On the table in the small garden（小花园的桌子上）
{
	"origin" "-3406 117 -155"
	"angles" "0 180 0"
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"count" "1"
}
; --- On the truck in front of the first organ（第一个机关前的货车上）
{
	"origin" "-2107.65 -1432 -133"
	"angles" "0 180 0"
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"count" "1"
}
; --- Tunnel mouth（隧道口）
{
	"origin" "2779.78 -1332.52 -166.835"
	"angles" "0 180 0"
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"count" "1"
}
; --- Next to the second organ（第二个机关旁）
{
	"origin" "10049.9 -1903.71 -190.835"
	"angles" "0 90 0"
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"count" "1"
}
; --- Next to the police car in front of the safe house at the end point（终点安全屋前的警车旁）
{
	"origin" "11895.2 2770.06 -183.392"
	"angles" "0 180 0"
	"classname" "weapon_ammo_spawn"
	"spawnflags" "2"
	"count" "1"
}

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================
add:
; ---  In the hole in the upper floor of the starting safety house, use a wooden board to block the hollow position（在起点安全屋楼上的洞里用木板挡住镂空位置）
{
	"solid" "6"
	"origin" "-8635 6846 321"
	"angles" "90 90 0"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic"
}
{
	"solid" "6"
	"origin" "-8636 6982 321"
	"angles" "90 90 0"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic"
}
{
	"solid" "6"
	"origin" "-8635 6710 321"
	"angles" "90 90 0"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic"
}
{
	"solid" "6"
	"origin" "-8507 6710 321"
	"angles" "90 90 0"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic"
}
{
	"solid" "6"
	"origin" "-8507 6846 321"
	"angles" "90 90 0"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic"
}
{
	"solid" "6"
	"origin" "-8508 6982 321"
	"angles" "90 90 0"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic"
}
{
	"solid" "6"
	"origin" "-8444.15 7041 323"
	"angles" "0 0 0"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic"
}
{
	"solid" "6"
	"origin" "-8444.15 6913 323"
	"angles" "0 0 0"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic"
}
{
	"solid" "6"
	"origin" "-8444.15 6785 323"
	"angles" "0 0 0"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic"
}
{
	"solid" "6"
	"origin" "-8508 6984 455"
	"angles" "90 90 0"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic"
}
{
	"solid" "6"
	"origin" "-8507 6848 455"
	"angles" "90 90 0"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic"
}
{
	"solid" "6"
	"origin" "-8507 6712 455"
	"angles" "90 90 0"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic"
}
{
	"solid" "6"
	"origin" "-8684 6910 291"
	"angles" "23 90 0"
	"model"	 "models/props_highway/plywood_01.mdl"
	"classname"	"prop_dynamic"
}
{
	"solid" "6"
	"origin" "-8733 6892 -168"
	"angles" "0 19 0"
	"model"	 "models/props/cs_office/shelves_metal1.mdl"
	"classname"	"prop_dynamic"
}

; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Add an air wall to the fence at the entrance to the starting safehouse to prevent survivors from jumping on it（为起点安全屋门口的围栏添加空气墙防止生还者跳上去）
{
	"classname" "env_physics_blocker"
	"origin" "-9336 6088 265"
	"mins" "-312 -8 -436"
	"maxs" "312 8 436"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-8794 6088 419"
	"mins" "-102 -8 -436"
	"maxs" "102 8 436"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-8700 6120 419"
	"mins" "-8 -24 -436"
	"maxs" "8 24 436"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-8778 6448 266"
	"mins" "-68 -272 -241"
	"maxs" "68 272 241"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
filter:
; --- Delete the health kit（删除医疗包）
{
	"classname" "weapon_first_aid_kit_spawn"
}

; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================


; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
add:
; ---  Add crawl marks next to the starting safehouse to allow special infected individuals to reach the safehouse roof（在起点安全屋旁添加爬行痕迹使特殊感染者可以抵达安全屋屋顶）
{
    "model" "*96"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-9818.00 10179.00 158.00"
    "angles" "0.00 450.00 0.00"
}
{
    "model" "*96"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-9818.00 10179.00 71.00"
    "angles" "0.00 450.00 0.00"
}
{
    "model" "*96"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-9818.00 10179.00 -11.00"
    "angles" "0.00 450.00 0.00"
}
{
    "model" "*96"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-9823.00 10426.00 153.00"
    "angles" "0.00 450.00 0.00"
}
{
    "model" "*96"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-9823.00 10426.00 51.00"
    "angles" "0.00 450.00 0.00"
}
{
    "model" "*96"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "1.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-9823.00 10426.00 -7.00"
    "angles" "0.00 450.00 0.00"
}
; ---  Crawling marks have been added to allow special infected individuals to reach the hole in the upper floor of the starting point safe house（添加爬行痕迹使特殊感染者可以抵达起点安全屋楼上的洞里）
{
    "model" "*20"
    "normal.z" "1.00"
    "normal.y" "0.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-10020.00 8005.00 8.00"
    "angles" "0.00 90.00 0.00"
}
{
    "model" "*20"
    "normal.z" "1.00"
    "normal.y" "0.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-10020.00 8005.00 229.00"
    "angles" "0.00 90.00 0.00"
}

; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                   BLANK HEADER                  ==
; ==                Blank description                ==
; =====================================================